<% if model.errors.any? %>
  <div id="error_explanataion" class="alert alert-warning">
    <ul class="mb-0">
      <% model.errors.full_messeages.each do |message| %>
        <li><%= message %></li>
                
    </ul>
  </div>
<% end %>